html,
body,
p {
  margin: 0;
}

html,
body,
.about-wrap {
  height: 100%;
}

body {
  position: relative;
  background-color: #ddd;
  font-family: Consolas, 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}

.about-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-me {
  width: 50%;
  min-width: 400px;
  height: 300px;

  background-color: rgb(34, 34, 34);
  color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px #888;
}

.line {
  line-height: 1.5;
}

.result {
  color: #67a61c;
}
